name: sdk/combined-browser

on:
  push:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md'

jobs:
  build-test-browser:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Node versions to run on.
        version: [18, 21]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.version }}
          registry-url: 'https://registry.npmjs.org'
      - id: shared
        name: Shared CI Steps
        uses: ./actions/ci
        with:
          workspace_name: '@launchdarkly/browser'
          workspace_path: packages/sdk/combined-browser
      - name: Check package size
        if: github.event_name == 'pull_request' && matrix.version == '21'
        uses: ./actions/package-size
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          target_file: 'packages/sdk/combined-browser/dist/index.js'
          package_name: '@launchdarkly/browser'
          pr_number: ${{ github.event.number }}
          size_limit: 200000
