name: shared/common

on:
  push:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md'

jobs:
  build-test-common:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24.x
          registry-url: 'https://registry.npmjs.org'
      - id: shared
        name: Shared CI Steps
        uses: ./actions/ci
        with:
          workspace_name: '@launchdarkly/js-sdk-common'
          workspace_path: packages/shared/common
      - name: Check package size
        if: github.event_name == 'pull_request'
        uses: ./actions/package-size
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          target_file: 'packages/shared/common/dist/esm/index.mjs'
          package_name: '@launchdarkly/js-sdk-common'
          pr_number: ${{ github.event.number }}
          size_limit: 26000
