name: shared/common

on:
  push:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md'

jobs:
  build-test-common:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24.x
          registry-url: 'https://registry.npmjs.org'
      - id: shared
        name: Shared CI Steps
        uses: ./actions/ci
        with:
          workspace_name: '@launchdarkly/js-sdk-common'
          workspace_path: packages/shared/common
      - name: Check package size
        if: github.event_name == 'pull_request'
        uses: ./actions/package-size
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          target_file: 'packages/shared/common/dist/esm/index.mjs'
          package_name: '@launchdarkly/js-sdk-common'
          pr_number: ${{ github.event.number }}
          size_limit: 26000
