name: sdk/electron

on:
  push:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md'
  # TODO: re-enable this when we set up the example tests.
  # schedule:
  #   - cron: '0 0 * * *'

jobs:
  build-test-electron:
    # Skip this job on scheduled runs to avoid redundant runs.
    # TODO: re-enable this when we set up the example tests.
    # if: github.event_name != 'schedule'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Node versions to run on.
        version: [24]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.version }}
          registry-url: 'https://registry.npmjs.org'
      - id: shared
        name: Shared CI Steps
        uses: ./actions/ci
        with:
          workspace_name: '@launchdarkly/electron-client-sdk'
          workspace_path: packages/sdk/electron

  # TODO: Add example tests - we will do this in tandem with the contract tests
  # as they will need to have a similar kind of setup.
  # run-example:
  #   runs-on: ubuntu-latest
  #   permissions:
  #     id-token: write
  #   steps:
  #     - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
  #     - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
  #       with:
  #         node-version: 24
  #     - name: Setup Yarn
  #       run: yarn set version 3.4.1
  #     - name: Install dependencies
  #       run: yarn workspaces focus @internal/electron-example
  #     - name: Build SDK dependencies
  #       run: yarn workspaces foreach -pR --topological-dev --from '@internal/electron-example' run build
  #     - name: Install Xvfb
  #       run: sudo apt-get install -y xvfb
  #     - uses: launchdarkly/gh-actions/actions/verify-hello-app@verify-hello-app-v1.0.0
  #       with:
  #         use_mobile_key: true
  #         role_arn: ${{ vars.AWS_ROLE_ARN }}
  #         command: xvfb-run -a yarn workspace @internal/electron-example start -- --no-sandbox

# TODO: Add contract tests
