name: shared/sdk-client

on:
  push:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md'

jobs:
  build-test-sdk-client:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v5
      - id: shared
        name: Shared CI Steps
        uses: ./actions/ci
        with:
          workspace_name: '@launchdarkly/js-client-sdk-common'
          workspace_path: packages/shared/sdk-client
      - name: Check package size
        if: github.event_name == 'pull_request'
        uses: ./actions/package-size
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          target_file: 'packages/shared/sdk-client/dist/esm/index.mjs'
          package_name: '@launchdarkly/js-client-sdk-common'
          pr_number: ${{ github.event.number }}
          size_limit: 20000
