name: shared/sdk-server

on:
  push:
    branches: [ main ]
    paths-ignore:
    - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [ main ]
    paths-ignore:
    - '**.md'

jobs:
  build-test-sdk-server:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'
      - id: shared
        uses: launchdarkly/js-core/.github/workflows/ci.yml@rlamb/sc-191283/add-ci-config
          with:
            workspace_name: '@launchdarkly/js-server-sdk-common'
            workspace_path: packages/shared/sdk-server
