name: sdk/server-node

on:
  push:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md'

jobs:
  build-test-server-node:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # Node versions to run on.
        version: [18, 21]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.version }}
          registry-url: 'https://registry.npmjs.org'
      - id: shared
        name: Shared CI Steps
        uses: ./actions/ci
        with:
          workspace_name: '@launchdarkly/node-server-sdk'
          workspace_path: packages/sdk/server-node
      - name: Launch the test service in the background
        run: yarn run contract-test-service 2>&1 &
      - uses: launchdarkly/gh-actions/actions/contract-tests@rlamb/retry-support
        with:
          test_service_port: 8000
          token: ${{ secrets.GITHUB_TOKEN }}
          extra_params: '--skip-from=./contract-tests/testharness-suppressions.txt'
