name: sdk/server-ai

on:
  push:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md'

jobs:
  build-test-server-sdk-ai:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24.x
          registry-url: 'https://registry.npmjs.org'
      - id: shared
        name: Shared CI Steps
        uses: ./actions/ci
        with:
          workspace_name: '@launchdarkly/server-sdk-ai'
          workspace_path: packages/sdk/server-ai
      - name: Build bedrock example
        run: |
          yarn workspaces focus @launchdarkly/hello-ai-bedrock
          yarn workspace @launchdarkly/hello-ai-bedrock lint
          yarn workspaces foreach -pR --topological-dev --from '@launchdarkly/hello-ai-bedrock' run build
      - name: Build OpenAI example
        run: |
          yarn workspaces focus @launchdarkly/hello-openai
          yarn workspace @launchdarkly/hello-openai lint
          yarn workspaces foreach -pR --topological-dev --from '@launchdarkly/hello-openai' run build
      - name: Build Vercel AI example
        run: |
          yarn workspaces focus @launchdarkly/hello-vercel-ai
          yarn workspace @launchdarkly/hello-vercel-ai lint
          yarn workspaces foreach -pR --topological-dev --from '@launchdarkly/hello-vercel-ai' run build
