name: sdk/server-ai

on:
  push:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md'

jobs:
  build-test-server-sdk-ai:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24.x
          registry-url: 'https://registry.npmjs.org'
      - id: shared
        name: Shared CI Steps
        uses: ./actions/ci
        with:
          workspace_name: '@launchdarkly/server-sdk-ai'
          workspace_path: packages/sdk/server-ai
      - name: Build bedrock example
        run: |
          yarn workspaces focus @launchdarkly/hello-ai-bedrock
          yarn workspace @launchdarkly/hello-ai-bedrock lint
          yarn workspaces foreach -pR --topological-dev --from '@launchdarkly/hello-ai-bedrock' run build
      - name: Build OpenAI example
        run: |
          yarn workspaces focus @launchdarkly/hello-openai
          yarn workspace @launchdarkly/hello-openai lint
          yarn workspaces foreach -pR --topological-dev --from '@launchdarkly/hello-openai' run build
      - name: Build Vercel AI example
        run: |
          yarn workspaces focus @launchdarkly/hello-vercel-ai
          yarn workspace @launchdarkly/hello-vercel-ai lint
          yarn workspaces foreach -pR --topological-dev --from '@launchdarkly/hello-vercel-ai' run build
