name: sdk/svelte

on:
  push:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md' #Do not need to run CI for markdown changes.
  pull_request:
    branches: [main, 'feat/**']
    paths-ignore:
      - '**.md'

jobs:
  build-test-svelte:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      - id: shared
        name: Shared CI Steps
        uses: ./actions/ci
        with:
          workspace_name: '@launchdarkly/svelte-client-sdk'
          workspace_path: packages/sdk/svelte
          should_build_docs: false
      - name: Build example
        run: |
          yarn workspaces focus ld-svelte-example
          yarn workspaces foreach -pR --topological-dev --from 'ld-svelte-example' run build
